
    <article>
        <header class="title">
           Meet our Team 
        </header>

        <div class="grid">
               <article>
                <header class="box">
                    <img src="https://cdn.discordapp.com/attachments/961669125116145736/1012189872766849024/unknown.png" alt="Nisan Shrestha"></img>
                    </br>
                    <strong><div class="name">Nisan Shrestha</div></strong>    
                </header>
                <div>Hello, I am nisan</div>
               </article> 

               <article>
                <header class="box">
                    <img src="https://cdn.discordapp.com/attachments/961669125116145736/1012189872766849024/unknown.png" alt="Nisan Shrestha"></img>
                    </br>
                    <strong><div class="name">Nisan Shrestha</div></strong>    
                </header>
                <div>Hello, I am nisan</div>
               </article>  

               <article>
                <header class="box">
                    <img src="https://cdn.discordapp.com/attachments/961669125116145736/1012189872766849024/unknown.png" alt="Nisan Shrestha"></img>
                    </br>
                    <strong><div class="name">Nisan Shrestha</div></strong>    
                </header>
                <div>Hello, I am nisan</div>
               </article>  


        </div>

    </article>

    <style>
        .title{
            font-size: 50px;
        }
        .box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 300px;
            height: 300px;
            border-radius: 50%;
        }
        .name{
            color:aliceblue;
            font-size: 30px;
        }
    </style>
