<link
  rel="stylesheet"
  href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
/>

<script
  src="https://kit.fontawesome.com/1bcd2404f3.js"
  crossorigin="anonymous"
></script>
<br />
<nav class="container">
  <ul>
    <li>
      <a href="/projects"><strong>Final Year Major Project Database</strong></a>
    </li>
  </ul>
  <ul>
    <!-- <li><a href="#">Other link</a></li>
        <li><a href="#">Link</a></li> -->

    <% if(!currentUser){%>
    <li><Button onclick="openAboutModal()">Log in</Button></li>
    <% }else{%>
    <li>Signed In as: <%= currentUser.username%></li>
    <li></li>
    <li><a href="/logout" role="button">Log out</a></li>
    <%}%>
  </ul>
</nav>

<div class="container">
  <%if(error && error.length > 0){%>
  <div class="alert alert-danger" role="alert"><%=error %></div>
  <% <% let alert = document.querySelector('.alert-danger') %> <%
  document.setTimeout(()=>{alert.classList.add('hidden')}, 1000) %> <%} %>
  <%if(success && success.length > 0){ %>
  <div class="alert alert-success" role="alert"><%=success%></div>
  <% } %>
</div>

<!-- Login Modal -->
<dialog id="about-modal">
  <article>
    <header>
      <a
        href="#close"
        aria-label="Close"
        class="close"
        onclick="closeAboutModal()"
      ></a>
      Log In
    </header>
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <div class="container"><%= error %></div>
    </div>
    <% } %>
    <form action="/login" method="post">
      <div class="formcontainer">
        <input
          class="emaildesign"
          type="text"
          name="username"
          placeholder="Username"
        />
        <input
          class="passworddesign"
          type="password"
          name="password"
          placeholder="Password"
        />
        <Button
          class="loginbutton"
          type="submit"
          value="login"
          action="/login"
          method="post"
          >Login</Button
        >
      </div>
      <hr />
    </form>
  </article>
</dialog>

<script>
  let modal = document.querySelector("#about-modal");
  let isModalOpen = false;
  document.addEventListener("keydown", (e) => {
    console.log(e.key, isModalOpen);
    if (e.key == "Escape" && isModalOpen) closeAboutModal();
  });
  function closeAboutModal() {
    isModalOpen = false;
    document.querySelector("html").classList.remove("modal-is-open");
    document.querySelector("html").classList.add("modal-is-closing");
    setTimeout(() => {
      modal.removeAttribute("open");
      document.querySelector("html").classList.remove("modal-is-closing");
    }, 400);
  }
  function openAboutModal() {
    console.log(`opening`);
    isModalOpen = true;
    document.querySelector("html").classList.add("modal-is-open");
    modal.setAttribute("open", "true");
  }
</script>

<style>
  strong {
    font-size: 1.5rem;
  }
  .alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
  }
  .alert-danger {
    background-color: #ee5348; /* Red */
  }
  .hidden {
    display: hidden;
  }
</style>
