<br />
<nav class="container">
  <ul>
    <li><strong>Final Year Major Project Database</strong></li>
  </ul>
  <ul>
    <!-- <li><a href="#">Other link</a></li>
        <li><a href="#">Link</a></li> -->
    <% if(!currentUser){%>
    <Button onclick="openAboutModal()">Log in</Button>
    <% }else{%>
    <div>Signed In as: <%= currentUser.username%></div>
    <a href="/logout"><Button>Log out</Button></a>
    <%}%>
  </ul>
</nav>
