<!-- <%- include('./partials/header'); -%>

<h1>Sign Up!</h1>

<form action="/register" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button>Sign Up</button>
</form>

<%- include('./partials/footer'); -%> -->

<!-- <!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    </head>
<body>
    
        <div class="navbar">Final Year Major Project Database</div>
        <div class="designform">
            <form action="/register" method="post">
                <div class="formcontainer">
                    <input class="emaildesign" type="text" name="username" placeholder="Username">
                     <input class="passworddesign" type="password" name="password" placeholder="Password">
                            <Button class="signinbutton">SIGN UP</Button>  
                        </div>
                    </form>
                    <div class="back">
                    <a href="/projects"><Button class="backbutton">Go Back</Button></a>
                    </div>
          </div>
                  </body>
</html> <br/><br/>
                         
<style>
* {
        box-sizing: border-box;
}
body {
        font-size: 14px;
        background: rgba(224,224,224,1);

      }

.designform {

        height:auto;
        width:50%; 
        position: relative;
        left: 25%;
        background: rgb(255, 255, 255);
        border: 3px solid rgba(0,0,0,1);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin:10px;
        display: flex;
        flex-direction: column;
        justify-items: center;
      }
    input {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgba(0,0,0,1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: border-box;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    }

    button{
        border: none;
        padding: 16px 32px;
        margin:10px;
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        position: relative;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }

    .navbar {
        background: rgba(255,255,255,1);
        opacity: 1;
        border: 3px solid rgba(0,0,0,1);
        padding: 10px;
        overflow: hidden;
        font-family: Inter;
        font-weight: Regular;
        font-size: 40px;
        display: flex;
      }
      .formcontainer{
        margin: 24px 50px 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
      }
      .loginbutton {
        background: rgba(217,217,217,1);
        font-family: Inter;
        font-weight: Regular;
        font-size: 32px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        overflow: hidden;
  }

    .signinbutton {
        background: rgba(76,76,76,1);
        color: rgba(255,255,255,1);
        font-family: Inter;
        font-weight: Regular;
        font-size: 32px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        overflow: hidden;
    }

        .backbutton {
        background: rgba(217,217,217,1);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        overflow: hidden;
    }
    
</style> -->


<!-- <%- include('./partials/footer'); -%> -->

